.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 4px 0 4px 0;
}

.thumb-container {
    padding: 3px;
    margin: 4px 0 4px 0;
}

.viewer-container {
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 4px 0 4px 0;
}

.page-operation-container{
    display: flex;
    flex-direction:column;
}


.atala_thumb_caption{
    bottom: 5px;
    height: 0.9em;
    background:yellow;
}

.atala_thumb_caption:hover{
    font-weight: bold;
}
